<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<div class="columns is-multiline">
<%= render partial: 'product',
           object: @product,
           locals: { name_is_link: false } %>
</div>